@use "./Experience/styles/fonts.scss";
@use "./Experience/styles/reset.scss";
// @use "./styles/variables.scss";

@forward "./Experience/styles/fonts.scss";
@forward "./Experience/styles/reset.scss";
// @forward "./styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

